# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Database
data/*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Operating System
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

sandbox/